/*
===== Color References ====

bg-color: #818286;
Title Color: #939498;
Nav Active: #000;
Nav Normal: #939498;
Product Title: #8bdbf2;
Product Border Color: #f3f3f3;
*/

/*===== General ====*/

/*==== Global ====*/

/*==== Header Section ====*/

html{
	margin: auto 0;
}
body{
	
	background-color: #818286;
}

#header{
	padding-top: 10px;
	background-color: #fff;
}
.top-search{
	margin-right: 10px;
    }

#search{
	margin-right: 50px;
	background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(68, 187, 236, 0.2);
    outline: none;
}

.badge{
	background-color: #ea2328;
    font-weight:normal;
    height: 24px;
    border-radius: 15px;
    padding: 5px 9px;
    margin-left: 20px;
}

.icon-bar{
	color: #000 !important;
}



/*==== Slider Section ====*/

.sy-prev{
	background: url('../images/left-arrow.png') 50% no-repeat;
	overflow: hidden;
}
.sy-next{
	background: url('../images/right-arrow.png') 50% no-repeat;
	overflow: hidden;
}

.sy-caption-wrap{
	position: relative;
	top: 80%;
	left: 20% !important;
	border-radius: none !important;
	
}
.sy-caption-wrap .sy-caption{
	border-radius: none !important;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 20px !important;
	
}

/*==== Collection Section ====*/

#collec-body{
	height: 610px;
	background-color: #fff;
	padding: 5px;
}

.left-side{
	width: 695;
	height: 600px;
	/*background-color: red;*/
	float: left;
}

.left-top img:last-child{
	width: 225px;
	height: 300px;
}

/*left bottom*/

	.left-bottom{
		width: 680px;
	}

	.coll-top img{
		padding: 5px 5px 5px 0; 
	}
	.coll-bottom img{
		height: 140px;
		width: 225px;
	}

	.coll-right img{
		width: 450px;
		padding-top: 5px;
	}

/*left bottom end*/




.left-top img{
	float: left;
}

.left-top img:last-child{
	padding-left: 5px;
}

.left-bottom{
	margin-top:5px;
	height: 300px;
	
}

.right-side{
	width: 445px;
	height: 610px;
	background: url('../images/papper_pattern_1.png')no-repeat;
	float: right;
}

.collect-1, 
.collect-2,
.collect-3,
.collect-4,
.collect-5{
	object-fit:cover;
}

.right-content{
	padding: 180px 50px 70px 50px;
}

.collec-title{
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 3px;
}

.collec-lead{
	font-size: 15px;
	text-align: justify;
	padding-bottom: 35px;
}

.right-content a{
	border: 1px solid rgba(0,0,0,.2);;
	margin-top: 30px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color:#000;
}

.right-content a:hover{
	font-weight: 600;
}


/*==== Featured Products Section ====*/

.main-products{
	background-color: #fff;
	padding: 50px;
	/*margin-bottom: 50px;*/
}
	.col-xs-5,
	.col-sm-5,
	.col-md-5,
	.col-lg-5 {
	    position: relative;
	    min-height: 1px;
	    padding-right: 20px;
	    padding-left: 20px;
	}

	.col-xs-5 {
	    width: 20%;
	    float: left;
	}


.product-title{
	/*padding-top: 30px;*/
	color: rgb(189,190,192);
	font-weight: 600;
	letter-spacing: 2px;
	line-height: normal;
}

.product-nav{
	border-bottom: 1px solid rgba(189,190,192,0.6);
	margin-top: 15px;
	padding: 0;
}

.product-nav li{
	list-style: none;
	display: inline-block;
	
}

.product-active{
	color: #000 !important;
}

.product-nav li a{
	text-decoration: none;
	margin: 0;
	letter-spacing: 1px;	
	color: rgb(189,190,192); 
	font-family: raleway;
	font-weight: 600;
	font-size: 12px;
}

.product-nav li a:hover{
	color:#000;
}

.product-nav li:before {
	content: "| "; 
	padding: 0 25px 0 24px ;
	color: rgba(189,190,192,0.2);
	font-size: 30px;
	}
.product-nav li:first-child:before { content: ""; 
	padding: 0;
}

.products-body{
	border: 1px solid rgba(189,190,192,0.2);
	padding: 7px;
	padding-bottom: 0px;
	position: static;
}	

.products-body img{
	width: 99.95%;
}

.products-body p{
	padding: 30px 10px 30px 10px;
	font-size: 16px;
	color: #67ceef;
}	

.max{
	position: relative;
	width: 30px;
	height: 30px;
	padding: 5px;
	border-left: 1px solid rgba(189,190,192,0.2);
	border-top: 1px solid rgba(189,190,192,0.2);
	left: 88%;
}






/*==== Brand Section ====*/

#dc-brand{
	margin-top: 10px;
	background: url('../images/brand_banner.jpg') 50% no-repeat;
	background-position: bottom;

}

.brand-title{
	text-align: center;
	padding-top: 70px;
	font-size: 65px;
	font-weight: 400;
	color:#fff;
}

.brand-subtitle{
	text-align: center;
	color: #fff;
	font-size: 25px;
}

.brand-logo{
	text-align: center;
	padding-bottom: 50px;
}

.brand-logo li{
	list-style: none;
	display: inline;
	padding: 50px;
	
}

.brand-logo li img{
	margin-top: 40px;
}

/*==== Footer Section ====*/

	footer{
		border-top: 20px solid #000;
		background: url('../images/footer_pattern.png');
		height: 450px;
	}

.address{
	padding-top: 50px;
}	

.footer-logo{

	margin-top: 50px;
}

.f-sub{

	color: rgba(255,255,255,.6);
	}

span .map{
	background: url('../images/footer/address.png')50% no-repeat;
	width: 20px;
	height:20px;
	padding: 10px;

	
}	
i{
	float: left;
	/*margin-top: 20px;*/
}
.info, .cell{
	/*margin-top: 28px;*/
	color: rgba(255,255,255,.3);
	margin-left: 40px;
	font-size: 12px;
	line-height: 20px;
	/*float: left;*/
	/*position: absolute;*/
}

.phone{
	background: url('../images/footer/icon_phone.png')50% no-repeat;
	width: 20px;
	height:20px;
	padding: 10px;

	/*position: relative;*/
}

.social{
	margin-top: 20px;
}

.social-nav li{
	list-style: none;
	display: inline;
	/*padding-left: 20px;*/
}

.social-nav  a{
	/*list-style: none;*/
	padding-left: 20px;
	
}

.social-nav li:first-child{
	padding-left: 0;
}

.f-title{
	color:#8bdbf2;
	padding-left: 40px;
	margin-top: 20px;
}

.b-title{
	margin-top: 65px;
	color:#8bdbf2;
}

.n-title{
	margin-top: 20px;
	color:#8bdbf2;
	padding-left: 40px;
}

.c-title{
	margin-top: 30px;
	color:#8bdbf2;
	padding-left: 40px;
}

.p-fnav{
	color: rgba(255,255,255,.3);
	
	line-height: 25px;
	margin-left: 40px;
}

.b-fnav{
	color: rgba(255,255,255,.3);
	line-height: 25px;
}


.n-fnav{
	color: rgba(255,255,255,.3);
	line-height: 25px;
	padding-left: 40px;
}


.c-fnav{
	color: rgba(255,255,255,.3);
	line-height: 25px;
	padding-left: 40px;
}
.fo-search{
	background: url('../images/footer/search_icon.png') 50% no-repeat;
	width: 20px;
	height: 20px;
	padding: 20px;
}

.foo-search{
	display: inline;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(139,219,242,.4);
	background: transparent;
}

.foo-search[placeholder]{
	color:rgb(139,219,242);
	padding-left: 5px;
}

.fo-content{
	margin-top: 20px;
}

.verticle{
	border-left: 1px solid rgba(255,255,255,.3);
	height: 300px;
	position: absolute;
	bottom: 20px;
	left: 300px;

}

hr{
	border-color: rgba(255,255,255,.3);
}

.dis li{
	display: inline;
	list-style: none;
	color:rgba(255,255,255,.3);
	padding: 10px;
}



.copy{
	color:rgba(255,255,255,.3);
}







/*==== Form Elements ====*/



/* Style Start for Product Center*/

main{
	background: #818286;
}


.banner{
	
	/*background: url('../images/banner.png') 50% no-repeat;*/
	/*background-repeat: no-repeat;*/
	
    background-position: center;
    margin : 0px;
    padding : 0px;
    height: 400px;
    /*width : 18px;*/
    overflow : hidden;
    margin-top: 10px;
}

.readmore{
	background: url('../images/read-more.jpg') 50% no-repeat;
	width: 100%;
	padding-top: 150px;
	margin-top: 10px;
}

#featured-products{
	padding-bottom: 50px;
}

.fp-title{
	padding-top: 30px;
	color: rgb(189,190,192);
	font-weight: 600;
	letter-spacing: 2px;
	line-height: normal;
}

.fp-nav{
	border-bottom: 1px solid rgba(189,190,192,0.6);
	/*float: left;*/
	margin-top: 15px;
	padding: 0;
	/*padding-top: 20px;*/
}

.fp-nav li{
	list-style: none;
	display: inline-block;
	/*padding: 0 25px 0 24px;
	border-right: 1px solid rgba(189,190,192,0.2)*/

}

.fp-active{
	color: #fff !important;
	font-weight: normal !important;
}

.fp-nav li a{
	text-decoration: none;
	margin: 0;
	letter-spacing: 1px;	
	color: rgb(189,190,192); 
	font-family: raleway;
	font-weight: 600;
	font-size: 12px;
}

.fp-nav li a:hover{
	color:#fff;
	font-weight: normal;
}

.fp-nav li:before {
	content: "| "; 
	padding: 0 25px 0 24px ;
	color: rgba(189,190,192,0.2);
	font-size: 30px;
	}
.fp-nav li:first-child:before { content: ""; 
	padding: 0;
}



.navigator{
	color:#fff;
	font-size: 20px;
	margin-left: 10px;
}

.bar{
	color: rgba(189,190,192,0.2) !important;
	font-size: 30px !important;
}

		/*style for products*/

.product-body{
	border: 1px solid rgba(189,190,192,0.2);
	padding: 3px;
}	

.product-body img{
	width: 99.95%;
}	

.p-title{
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff;
	padding: 20px 10px 10px 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.expend{
	background: url('../images/product/icon_maximize.png') 50% no-repeat;
	width: 20px;
	height:20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	/*border-left: 1px solid rgba(0,0,0,0.1);*/
	border-right: 1px solid rgba(0,0,0,0.1);
}

.like{
	background: url('../images/product/icon_wishlist.png') 50% no-repeat;
	width: 20px;
	height:20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}

.lead{
	padding: 20px 10px 10px 10px;
	font-size: 13px;
	text-align: justify;
	letter-spacing: 1px;
	color: #bdbec2;
}

.p-margin{
	margin-top: 25px;
}


/*style for social icons*/

i{
	/*margin-left: 20px; */
}


.ci{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../images/social_sprite.png')no-repeat;
}

.i.ci:hover{
	display: inline-block;
	height: 25px;
	width: 25px;
	background: url('../images/socials_1.png')no-repeat;
}


.ci.ci-fb			 {background-position: 0 0; }
.ci.ci-tw    		 {background-position: -40 0; }


/*=========Responisve For Product Section========*/
	
		@media (min-width: 768px) {
		.col-sm-5 {
		        width: 20%;
		        float: left;
		    }
		}
		@media (min-width: 992px) {
		    .col-md-5 {
		        width: 20%;
		        float: left;
		    }
		}
		@media (min-width: 1200px) {
		    .col-lg-5 {
		        width: 20%;
		        float: left;
		    }
		}
}
}

